In [ ]:
from db_common import insert_data, select
from io_minio import upload_img
from common import generate_hash
import os
import random
import datetime
import cv2

In [11]:
def insert_data_in_product(full_path_file, id_product):
    path_data = generate_hash(full_path_file)
    id_data = select('SELECT COUNT(*) FROM DATA')['count'].iloc[0] + 1
    
    insert_data('data', [{'id_data': id_data, 'path_data': path_data, 'tp_data': 'IMG', 'dt_inclusion': datetime.datetime.now()}])
    insert_data('product_data', [{'id_product': id_product, 'id_data': id_data}])
    
    img = cv2.imread(full_path_file)
    extension = os.path.splitext(full_path_file)[1].replace('.', '').lower()
    
    upload_img(img, f'image/{extension}', key=path_data)

In [ ]:
path = '../dataset'
for name in os.listdir(path):
    full_path = os.path.join(path, name)
    if os.path.isdir(full_path):
        id_product = select("SELECT COUNT(*) FROM PRODUCT")['count'].iloc[0] + 1
        insert_data('product', [{'id_product': id_product, 'nm_product': name, 'vl_product': round(5 + (random.random() * 15), 2)}])
        for full_path_file in os.listdir(full_path):
            full_path_file = os.path.join(full_path, full_path_file)
            
            insert_data_in_product(full_path_file, id_product)

In [13]:
select('SELECT * FROM DATA')

     id_data                  path_data tp_data dt_inclusion
0          1  36a545e0404095ba1d00e49db     IMG   2025-10-28
1          2  41a89c18d2795bdae439612c7     IMG   2025-10-28
2          3  217d4abab4bf84f9d89812579     IMG   2025-10-28
3          4  373fed50001ac938715593fcc     IMG   2025-10-28
4          5  2ec21c9076bef4b0e51d2207a     IMG   2025-10-28
..       ...                        ...     ...          ...
159      160  47783e191d9f8c146b7047e5c     IMG   2025-10-28
160      161  767117ee3e1c5f33bb3a2a4af     IMG   2025-10-28
161      162  3bca74a3b789743cb99bbe85c     IMG   2025-10-28
162      163  b972b67434c2a3a61e2280184     IMG   2025-10-28
163      164  7c7b3b5a3005a4b776fceabc1     IMG   2025-10-28

[164 rows x 4 columns]