In [1]:
from db_common import insert_data, select_data
from io_minio import upload_img
from common import generate_hash
import os
import random
import datetime
import cv2

In [2]:
def insert_data_in_product(full_path_file, id_product):
    path_data = generate_hash(full_path_file)
    id_data = select_data('SELECT COUNT(*) FROM DATA')['count'].iloc[0] + 1
    
    insert_data('data', [{'id_data': id_data, 'path_data': path_data, 'tp_data': 'IMG', 'dt_inclusion': datetime.datetime.now()}])
    insert_data('product_data', [{'id_product': id_product, 'id_data': id_data}])
    
    img = cv2.imread(full_path_file)
    extension = os.path.splitext(full_path_file)[1].replace('.', '').lower()
    
    upload_img(img, f'image/{extension}', key=path_data)

In [3]:
path = '../dataset'
for name in os.listdir(path):
    full_path = os.path.join(path, name)
    if os.path.isdir(full_path):
        id_product = select_data("SELECT COUNT(*) FROM PRODUCT")['count'].iloc[0] + 1
        insert_data('product', [{'id_product': id_product, 'nm_product': name, 'vl_product': round(5 + (random.random() * 15), 2)}])
        for full_path_file in os.listdir(full_path):
            full_path_file = os.path.join(full_path, full_path_file)
            
            insert_data_in_product(full_path_file, id_product)

In [4]:
df = select_data('SELECT * FROM DATA')
df

     id_data                  path_data tp_data dt_inclusion
0          1  a8201eab663f463f48270a9b8     IMG   2025-10-30
1          2  3d3f333ec722fd2ac30bc504d     IMG   2025-10-30
2          3  da485b0d4098655423d68944f     IMG   2025-10-30
3          4  35174fa7d8b1efce6b748a73f     IMG   2025-10-30
4          5  322c0cf443a905adf95043c7b     IMG   2025-10-30
..       ...                        ...     ...          ...
404      405  82e6db1690d028f2bb014a1c7     IMG   2025-10-30
405      406  b6bb4c55af5617834356f567c     IMG   2025-10-30
406      407  6c458ac0e3433df5dedc8c5d8     IMG   2025-10-30
407      408  5f6ba801ac7361548eb12183a     IMG   2025-10-30
408      409  a90a8073afbede0c4be5c5c94     IMG   2025-10-30

[409 rows x 4 columns]

In [ ]:
not_is = ['a', 1, 3]

if isinstance(not_is, list):
    not_is = [n for n in not_is if isinstance(n, int)]

'1,3'