In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
POSTGRES_HOST = 'localhost'
POSTGRES_PORT = 5432
POSTGRES_USER = 'admin'
POSTGRES_PASSWORD = 'admin123'
POSTGRES_DB = 'app_db'
      
engine = create_engine(f"postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}")

In [29]:
def convert_dict(list):
    result = {}

    for item in list:
        for key, value in item.items():
            if key not in result:
                result[key] = []
            result[key].append(value)

    return result

In [24]:
def insert_data(table, data, need_convert=True):
    if need_convert:
        data = convert_dict(data)
        
    pd.DataFrame(data).to_sql(table.lower(), engine, if_exists="append", index=False)

In [27]:
dados = [
    {'nm_product': 'Maça', 'vl_product': 30},
    {'nm_product': 'Pêra', 'vl_product': 22}
]

insert_data('product', dados)

In [28]:
df_select = pd.read_sql("SELECT * FROM PRODUCT", engine)
df_select

   id_product nm_product  vl_product
0           1       Maça        30.0
1           2       Pêra        22.0
2           3       Maça        30.0
3           4       Pêra        22.0
4           5       Maça        30.0
5           6       Pêra        22.0
6           7       Maça        30.0
7           8       Pêra        22.0